.league {
    display: flex;
    flex-direction: column;
}

.league-info {
    display: flex;
    justify-content: space-between;
}
.league-info > p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.league-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
