.match {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.date {
    grid-column: 1;
}
.time {
    grid-column: 3;
}

@media (min-width: 768px) {
    .match {
        grid-template-columns: 505px 1fr 1fr;
    }
}
