.match {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 2px;
}
.match.top {
    background-color: gold;
    color: black;
}
.match.win {
    background-color: green;
}
.match.loss {
    background-color: crimson;
}

.date {
    grid-column: 1;
    margin-inline: 5px;
}
.placement {
    text-align: center;
}
.time {
    grid-column: 3;
    text-align: right;
    margin-inline: 5px;
}

@media (min-width: 768px) {
    .match {
        grid-template-columns: 505px 1fr 1fr;
    }
}
